body{
margin:0;
font-family:Arial;
background:#000;
color:#fff;
}

.page{
display:none;
padding:20px;
min-height:100vh;
}

.active{
display:block;
}

nav{
position:fixed;
bottom:10px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:10px;
background:#111;
padding:10px;
border-radius:30px;
}

nav button{
background:#222;
color:#fff;
border:none;
padding:10px;
border-radius:20px;
}

.card{
background:#111;
padding:15px;
margin:10px 0;
border-radius:10px;
}

input,textarea{
width:100%;
padding:10px;
margin:5px 0;
background:#222;
border:none;
color:#fff;
}

button{
width:100%;
padding:10px;
background:#00ffcc;
border:none;
margin-top:10px;
cursor:pointer;
}

.loader{
display:none;
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.spinner{
width:50px;
height:50px;
border:5px solid #333;
border-top:5px solid #00ffcc;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

.wa{
position:fixed;
bottom:90px;
right:20px;
background:#25D366;
padding:15px;
border-radius:50px;
color:white;
text-decoration:none;
}
